.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nfirst li {
  list-style-type: none;
  display: inline;
  padding: 0.2vw 1vw;
  margin: 0.2vw 1vw;
}
.nsecond li {
  list-style-type: none;
  display: inline;
  padding: 0.2vw 1vw;
  margin: 0.2vw 1vw;
}

.nfirst {
  border: 1px solid red;
  margin: none;
  display: flex;
}
.nsecond {
  border: 1px solid red;
  margin: none;
  display: flex;
}
